<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Page Title -->
      <title>Medicare- Record Management System</title>
      <!-- Favicon -->
      <link rel="icon" href="favicon5.ico" />
      <!---IcoFont Icon font-->
      <link rel="stylesheet" href="../Homecss/css/icofont.min.css">
      <!-- Bootsrap CSS -->
      <link rel="stylesheet" href="../Homecss/css/bootstrap.min.css">
	    <!-- Animate CSS -->
      <link href="../Homecss/css/animate.min.css" rel="stylesheet">
      <!-- Magnific Popup core CSS -->
      <link rel="stylesheet" href="../Homecss/css/magnific-popup.css">
      <!-- Magnific Popup core CSS -->
      <link rel="stylesheet" href="../Homecss/css/modal-video.min.css">
      <!-- Swiper CSS -->
      <link rel="stylesheet" href="../Homecss/css/swiper.min.css">
      <!-- Theme Style -->
      <link rel="stylesheet" href="../Homecss/css/style.css">
      <!-- Global margin paddings CSS -->
      <link rel="stylesheet" href="../Homecss/css/margin-paddings.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="../Homecss/css/responsive.css">
      <link rel="stylesheet" href="../Homecss/css/colors/green.css">
      <!-- teamplate colors -->
      <!-- <link href="css/colors/green.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/blue.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/orange.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/purple.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/pink.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/brown.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/light-green.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/light-blue.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/light-orange.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/light-purple.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/olive.css" rel="stylesheet"> -->
      <!-- <link href="css/colors/gold.css" rel="stylesheet"> -->
   </head>
   <body data-spy="scroll" data-target="#navbarCodeply" data-offset="70">
      <div id="preloader-wrap">
          <div class="preloader"></div>
      </div>
      
      <!-- ========== Header Nav Start ========== -->
      <header>
         <nav class="navbar navbar-inverse navbar-expand-lg header-nav fixed-top light-header">
            <div class="container">
               <a class="navbar-brand" href="#">
                  
                  <img src="../Homecss/img\Asset 4.png" alt=""> 
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCodeply">
                  <i class="icofont-navigation-menu"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarCodeply">
                  <ul class="nav navbar-nav ml-auto">
                     
                     <li><a class="nav-link" href="#about">Home</a></li>
                     <li>
                        <a class="nav-link" href="">Vital Health Metrics</a>
                        <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont-rounded-down"></i></span>
                        <ul class="sub-menu">
                           <li><a href='/vitalHealthMatrics/BMI/bmigraph'>Body Mass Index (BMI)</a></li>
                           <li><a href='/vitalHealthMatrics/Cholesterol/colo'>Cholesterol Levels(LDL and HDL Cholesterol)</a></li>
                          
                        </ul>
                     </li>
                     <li><a class="nav-link" href="/show">Your Medical History</a></li>
                     <li><a class="nav-link" href="/logout">Log In/Log Out</a></li>
                     <li><a class="nav-link" href='/profile'>Profile</a></li>
                     
                     
                   
                     <li><a class="nav-link" href='/search'>Search Patient</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <!-- ========== Header Nav End ========== -->
      <!-- ========== Hero Start ========== -->
      <section id="home" class="hero-area parallax overlay overlay-5" style="background-image:url(../Homecss/img/hero/wepik-export-20240214135739jvRJ.jpeg);">
         <div class="container">
            <div class="row full-height align-items-center text-center">
               <div class="col p-100px-t p-50px-b">
                  <h4>Hi Doctor </h4>
                  <div class="divider-circle mt-4"></div>
                  <h2 class="text-capitalize m-35px-tb">Empowering Care One Record at a Time<br>Your Health Your History Our Commitment</h2>
                  <div class="hero-btn-wrapper">
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ========== Hero End ========== -->
      <!-- ========== About Start ========== -->
      <section id="about" class="p-80px-tb bg-light">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12 align-self-center">
                  <img class="img-responsive" src="../Homecss/img\wepik-export-20240214142006crr5.jpeg" alt="Helping hands">
               </div>
               <div class="col-md-6 col-sm-12 col-xs-12 align-self-center">
                  <div class="about-box diffuse-shadow p-45px sm-p-25px bg-white">
                     <h2>About us</h2>
                     <div class="divider-dashed m-25px-b"></div>
                     <p>Welcome to our platform! At MEDICARE, we are dedicated to revolutionizing the way healthcare institutions manage patient records. With our cutting-edge patient record management system, we offer a comprehensive solution designed to streamline the entire process, from data entry to retrieval.</p>
                     <p> Our intuitive interface and advanced features empower healthcare professionals to efficiently organize, update, and access patient information securely. Whether you're a small clinic or a large hospital, our customizable system adapts to your unique needs, ensuring seamless integration into your existing workflows. 
                     </p>With a commitment to innovation and reliability, we are here to support healthcare providers in delivering the highest standard of care while prioritizing patient confidentiality and data security. Join us on our mission to transform healthcare management one record at a time.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ========== About End ========== -->
      <!-- Video Section Start -->
      <section class="p-100px-tb overlay overlay-6 parallax" style="background-image:url(../Homecss/img/bg/1.jpeg)">
         <div class="container">
            <div class="row">
               <div class="col-sm-8 offset-sm-2 text-center promo-video">
                  <h1 class="m-0px-b">Let's Learn more</h1>
                  <h4 class="m-30px-b sm-m-25px-b"></h4>
                  <div class="video-btn">
                     <button class="js-modal-btn" data-video-id="QIYcFth8ty4">
                        <i class="icofont-long-arrow-down"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      <!-- ========== Causes End ========== -->
      <!-- ========== Help process Start ========== -->
      <section id="HelpProcess" class="p-80px-tb bg-light">
         <div class="container">
            <div class="row">
               <div class="col-sm-8 offset-sm-2">
                  <div class="section-title text-center m-60px-b">
                     <h2>What Can You Do From Here</h2>
                     <div class="divider-circle mx-auto"></div>
                     <p></p>
                  </div>
               </div>
            </div>
          </div>
          <div class="process-wrap">
            <div class="container">
            <div class="row">
               <!-- Single process item start -->
               <div class="process-item text-center col-md-3 col-sm-6 sm-m-15px-tb">
                 <div class="process-circle"><p></p></div>
                  <div class="icon-outer">
                     <i class="icofont-file-document"></i>
                  </div>
                  <h4 class="m-35px-t sm-m-15px-t">Storing Records</h4>
               </div>
               <!-- Single process item end -->
               <!-- Single process item start -->
               <div class="process-item text-center col-md-3 col-sm-6 sm-m-15px-tb">
                  <div class="process-circle"><p></p></div>
                  <div class="icon-outer">
                      <i class="icofont-monitor"></i>
                  </div>
                  <h4 class="m-35px-t sm-m-15px-t">Record Summery</h4>
               </div>
               <!-- Single process item end -->
               <!-- Single process item start -->
               <div class="process-item text-center col-md-3 col-sm-6 sm-m-15px-tb">
                  <div class="process-circle"><p></p></div>
                  <div class="icon-outer">
                      <i class="icofont-share"></i>
                  </div>
                  <h4 class="m-35px-t sm-m-15px-t">Records Share with Doctors</h4>
               </div>
               <!-- Single process item end -->
               <!-- Single process item start -->
               <div class="process-item text-center col-md-3 col-sm-6 sm-m-15px-tb">
                  <div class="process-circle"><p></p></div>
                  <div class="icon-outer">
                      <i class="icofont-doctor"></i>
                  </div>
                  <h4 class="m-35px-t sm-m-15px-t">Doctors Can Access and Review </h4>
               </div>
               <!-- Single process item end -->
            </div>
          </div>
         </div>
      </section>
   
     
      <section id="testimonials" class="p-80px-tb bg-white">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <div class="section-title text-center m-60px-b">
                    <h2>Testimonials</h2>
                    <div class="divider-circle mx-auto"></div>
                    <p></p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="swiper-container testimonialSwiper p-50px-b">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="row single-testimonial">
                      <div class="col-sm-12 col-md-5 col-lg-3 align-self-center">
                          <img class="img-thumbnail" src="img/donors/1.jpg" alt="">
                       </div>
                       <div class="col-sm-12 col-md-7 col-lg-9 align-self-center">
                          <div class="p-30px testimonial-content bg-white">
                             <h3>A</h3>
                             <blockquote>
                                
                             </blockquote>
                          </div>
                       </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="row single-testimonial">
                      <div class="col-sm-12 col-md-5 col-lg-3 align-self-center">
                          <img class="img-thumbnail" src="img/donors/2.jpg" alt="">
                       </div>
                       <div class="col-sm-12 col-md-7 col-lg-9 align-self-center">
                          <div class="p-30px testimonial-content bg-white">
                             <h3>C</h3>
                             <blockquote>
                              
                             </blockquote>
                          </div>
                       </div>
                      </div>
                  </div>
                 <div class="swiper-slide">
                    <div class="row single-testimonial">
                      <div class="col-sm-12 col-md-5 col-lg-3 align-self-center">
                          <img class="img-thumbnail" src="img/donors/3.jpg" alt="">
                       </div>
                       <div class="col-sm-12 col-md-7 col-lg-9 align-self-center">
                          <div class="p-30px testimonial-content bg-white">
                             <h3>A</h3>
                             <blockquote>
                              
                             </blockquote>
                          </div>
                       </div>
                      </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
          </div>
          </div>
      
      
      <!-- End Blog Section -->
      <!-- Start contact section  -->
     
      <section id="footer-top" class="p-80px-tb bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="row">
                <div class="single-widget col-md-7 col-sm-6">
                    <a class="widget-logo" href="#">
                    MEDICARE
                    <!-- <img src="http://www.placehold.it/150x50" alt=""> -->
                    </a>
                    <p>Our user-friendly interface and cutting-edge functionalities enable healthcare providers to effectively manage, update, and securely access patient records. Whether you run a small clinic or a large hospital, our adaptable system can be customized to fit your specific requirements, seamlessly integrating into your current workflows</p>
                  </div>
                  
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="row">
                <div class="single-widget col-md-6 col-sm-6">
                    <h3>Contacts</h3>
                    <ul class="recent-post">
                      <li><a href="#">Whatsapp-0755836572</a></li>
                      <li><a href="#">Email-MEDICARE@gmail.com</a></li>
                      <li><a href="#">Twitter-MEDICARE</a></li>
                      <li><a href="#">Facebook-MEDICARE</a></li>
                    </ul>
                  </div>
                  
                  <div class="single-widget col-md-6 col-sm-6">
                  <div>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126610.85478677676!2d79.94383432486637!3d7.39983936761899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2d99a9139883f%3A0x1fa753cd481b6bd8!2zV2F5YW1iYSBVbml2ZXJzaXR5IG9mIFNyaSBMYW5rYSwgS3VsaXlhcGl0aXlhIFByZW1pc2VzIOC3gOC2uuC2uSDgt4Dgt5Lgt4Hgt4rgt4Dgt4Dgt5Lgtq_gt4rigI3gtrrgt4_gtr3gtrosIOC2muC3lOC2veC3kuC2uuC3j-C2tOC3kuC2p-C3kuC2ui4!5e0!3m2!1sen!2slk!4v1707977768468!5m2!1sen!2slk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer Top End -->
      <!-- Start footer -->
      <footer id="footer" class="p-30px-tb bg-white">
         <div class="container">
            <div class="row">
               <div class="col text-center">
                  <p class="copyright-text">&copy; <script>document.write(new Date().getFullYear());</script> <a href="">MEDICARE</a> Rapid Application Development Project <a href="#"></a></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- End footer -->
      <!-- jQuery -->
      <script src="../Homecss/js/jquery-3.2.1.min.js"></script>
      <script src="../Homecss/js/jquery-migrate-3.0.0.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="../Homecss/js/bootstrap.min.js"></script>
      <!-- Animated text -->
      <script src="../Homecss/js/jquery.textillate.js"></script>
      <script src="../Homecss/js/jquery.lettering.js"></script>
      <script src="../Homecss/js/jquery.fittext.js"></script>
      <!-- Magnific Popup core JS -->
      <script src="../Homecss/js/jquery.magnific-popup.min.js"></script>
      <!-- Modal video Popup core JS -->
      <script src="../Homecss/js/modal-video.min.js"></script>
      <!-- Waypoints JS -->
      <script src="../Homecss/js/waypoints.min.js"></script>
      <!-- CounterUp JS -->
      <script src="../Homecss/js/jquery.counterup.min.js"></script>
      <!-- Isotop JS -->
      <script src="../Homecss/js/isotope.pkgd.min.js"></script>
      <!-- AjaxChimp js -->
      <script src="../Homecss/js/jquery.ajaxchimp.min.js"></script>
      <!-- Swiper JS -->
      <script src="../Homecss/js/swiper.min.js"></script>
      <!-- Custom -->
      <script src="../Homecss/js/custom.js"></script>
    
   </body>
</html>